In [41]:
import numpy as np
import pandas as pd

In [42]:
regions_list = pd.read_csv("out/regions_wave.csv", encoding = 'utf-16')

In [43]:
regions_list

,Survey,Wave,Country Numeric,Country ISO3,Region Numeric,Region Name,NUTS1,NUTS2,NUTS3,Sample Size
0,EVS,1981-1984,56,BEL,56021,BE: unknown,-4,-4,-4,6
1,EVS,1981-1984,56,BEL,56022,BE: unknown,-4,-4,-4,175
2,EVS,1981-1984,56,BEL,56023,BE: unknown,-4,-4,-4,109
3,EVS,1981-1984,56,BEL,56024,BE: unknown,-4,-4,-4,139
4,EVS,1981-1984,56,BEL,56025,BE: unknown,-4,-4,-4,163
...,...,...,...,...,...,...,...,...,...,...
3903,WVS,2010-2014,887,YEM,887015,YE: Mareb,,,,13
3904,WVS,2010-2014,887,YEM,887016,YE: Al-Mahwit,,,,26
3905,WVS,2010-2014,887,YEM,887017,YE: Amran,,,,44
3906,WVS,2010-2014,887,YEM,887018,YE: Ad-dale',,,,25
3907,WVS,2010-2014,887,YEM,887019,YE: Raymah,,,,21

### it is better to check by country numeric, we have nans in ISO3

In [44]:
regions_list["Country ISO3"].unique()

array(['BEL', 'CAN', 'DNK', 'FRA', 'DEU', 'ISL', 'IRL', 'ITA', 'MLT',
       'NLD', 'NOR', 'ESP', 'SWE', 'GBR', 'USA', 'Nan', 'AUT', 'BGR',
       'CZE', 'EST', 'FIN', 'HUN', 'LVA', 'LTU', 'POL', 'PRT', 'ROU',
       'SVK', 'SVN', 'BLR', 'HRV', 'GRC', 'LUX', 'RUS', 'TUR', 'UKR',
       'ALB', 'ARM', 'BIH', 'CYP', nan, 'GEO', 'MDA', 'MNE', 'SRB', 'CHE',
       'MKD', 'ARG', 'AUS', 'JPN', 'KOR', 'MEX', 'ZAF', 'BRA', 'CHL',
       'CHN', 'IND', 'NGA', 'AZE', 'BGD', 'TWN', 'COL', 'DOM', 'SLV',
       'NZL', 'PAK', 'PER', 'PHL', 'PRI', 'URY', 'VEN', 'DZA', 'IDN',
       'IRN', 'IRQ', 'ISR', 'JOR', 'KGZ', 'MAR', 'SAU', 'SGP', 'VNM',
       'ZWE', 'UGA', 'EGY', 'TZA', 'AND', 'ETH', 'GHA', 'GTM', 'HKG',
       'MYS', 'MLI', 'RWA', 'THA', 'TTO', 'BFA', 'ZMB', 'ECU', 'PSE',
       'HTI', 'KAZ', 'KWT', 'LBN', 'LBY', 'QAT', 'TUN', 'UZB', 'YEM'],
      dtype=object)

In [45]:
len(regions_list["Country ISO3"].unique())

109

In [46]:
len(regions_list["Country Numeric"].unique())

112

In [47]:
most_recent = pd.DataFrame(columns=regions_list.columns)


for idx in regions_list["Country Numeric"].unique():
    mask = regions_list["Country Numeric"] == idx
    
    name = regions_list[ mask ]["Country ISO3"].unique()[0]
    
    EVS_waves = regions_list[ mask & (regions_list["Survey"] == "EVS") ]["Wave"].unique()
    
    
    if len(EVS_waves)>0:
        most_recent = most_recent.append(regions_list.loc[mask & (regions_list["Survey"] == "EVS")
                                        & (regions_list["Wave"] == EVS_waves[-1]),:])
    
    WVS_waves = regions_list[ mask & (regions_list["Survey"] == "WVS") ]["Wave"].unique()
    
    if len(WVS_waves)>0:
        most_recent = most_recent.append(regions_list.loc[mask & (regions_list["Survey"] == "WVS")
                                        & (regions_list["Wave"] == WVS_waves[-1]),:])

In [49]:
most_recent[ most_recent["Country ISO3"] == "AUT" ]

,Survey,Wave,Country Numeric,Country ISO3,Region Numeric,Region Name,NUTS1,NUTS2,NUTS3,Sample Size
870,EVS,2008-2010,40,AUT,-5,Unknown,AT1,AT11,-5,50
871,EVS,2008-2010,40,AUT,-5,Unknown,AT1,AT12,-5,282
872,EVS,2008-2010,40,AUT,-5,Unknown,AT1,AT13,-5,304
873,EVS,2008-2010,40,AUT,-5,Unknown,AT2,AT21,-5,113
874,EVS,2008-2010,40,AUT,-5,Unknown,AT2,AT22,-5,220
875,EVS,2008-2010,40,AUT,-5,Unknown,AT3,AT31,-5,245
876,EVS,2008-2010,40,AUT,-5,Unknown,AT3,AT32,-5,101
877,EVS,2008-2010,40,AUT,-5,Unknown,AT3,AT33,-5,123
878,EVS,2008-2010,40,AUT,-5,Unknown,AT3,AT34,-5,72

In [50]:
most_recent.to_csv("out/most_recent_region.csv", index = False, encoding = 'utf-16')